body{
    font-family: 'Oswald', sans-serif;
}
h1{
    font-size: 50px;
}
.h1-color{
    color: coral;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 60%;
}
.visit-button{
    text-decoration: none;
    background-image: linear-gradient(red, yellow);
    color: ghostwhite;
    font-weight: 700;
    padding: 10px 35px;
    border-radius: 5px;
}
.half-width-1{
    width: 50%;
    padding-left: 5%;
}
.half-width-1 img{
    width: 60%;
}
.missuse-time{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20%;
}